<template>
  <div class="content">
    <div class="question">
      <p>1.В каком городе (районе) Вы проживаете?</p>
      <h5>(пожалуйста, укажите один вариант ответа)</h5>
      <select v-model="selected_1">
        <option disabled value="">-Выберите-</option>
        <option>г. Липецк</option>
        <option>г. Елец</option>
        <option>Воловский район</option>
        <option>Грязинский район</option>
        <option>Данковский район</option>
        <option>Добринский район</option>
        <option>Долгоруковский район</option>
        <option>Елецкий район</option>
        <option>Задонский район</option>
        <option>Измалковский район</option>
        <option>Краснинский район</option>
        <option>Лебедянский район</option>
        <option>Лев-Толстовский раойн</option>
        <option>Липецкий район</option>
        <option>Становлянский район</option>
        <option>Тербунский район</option>
        <option>Усманский район</option>
        <option>Хлевенский район</option>
        <option>Чаплыгинский район</option>
      </select>
    </div>
    <div class="question">
      <p>2.Укажите Ваш пол</p>
      <h5>(пожалуйста, укажите один вариант ответа)</h5>
      <div class="radio-answers">
        <input type="radio" id="2one" value="мужской" v-model="picked_2">
        <label for="2one">мужской</label>
        <br />
        <input type="radio" id="2two" value="женский" v-model="picked_2">
        <label for="2two">женский</label>
        <br />
      </div>
    </div>
    <div class="question">
      <p>3.Укажите Ваш возраст</p>
      <h5>(пожалуйста, укажите один вариант ответа)</h5>
      <select v-model="selected_3" >
        <option disabled value="">-Выберите-</option>
        <option>От 18 до 24</option>
        <option>От 25 до 34</option>
        <option>От 35 до 44</option>
        <option>От 45 до 54</option>
        <option>От 55 до 64</option>
        <option>От 65 и старше</option>

      </select>
    </div>
    <div class="question">
      <p>4.Каков Ваш Социальный статус?</p>
      <h5>(пожалуйста, укажите один вариант ответа)</h5>
      <div class="radio-answers">
        <input type="radio" id="4one" value="Работаю" v-model="picked_4">
        <label for="4one">Работаю</label>
        <br />
        <input type="radio" id="4two" value="Безработный" v-model="picked_4">
        <label for="4two">Безработный</label>
        <br />
        <input type="radio" id="4three" value="Учусь/Студент" v-model="picked_4">
        <label for="4three">Учусь/Студент</label>
        <br />
        <input type="radio" id="4four" value="Домохозяйка (домохозяин)" v-model="picked_4">
        <label for="4four">Домохозяйка (домохозяин)</label>
        <br />
        <input type="radio" id="4five" value="Пенсионер (в том числе по инвалидности)" v-model="picked_4">
        <label for="4five">Пенсионер (в том числе по инвалидности)</label>
        <br />
        <input type="radio" id="4six" value="Самозанятый" v-model="picked_4">
        <label for="4six">Самозанятый</label>
        <br />
        <input type="radio" id="4seven" value="Предприниматель" v-model="picked_4">
        <label for="4seven">Предприниматель</label>
        <br />
        <input type="radio" id="4eight" value="Иное" v-model="picked_4">
        <label for="4eight">Иное</label>
        <br />
      </div>
    </div>
    <div class="question">
      <p>5.Есть ли у Вас дети в возрасте до 18 лет?</p>
      <h5>(пожалуйста, укажите один вариант ответа)</h5>
      <div class="radio-answers">
        <input type="radio" id="5one" value="1 ребенок" v-model="picked_5">
        <label for="5one">1 ребенок</label>
        <br />
        <input type="radio" id="5two" value="2 ребенка" v-model="picked_5">
        <label for="5two">2 ребенка</label>
        <br />
        <input type="radio" id="5three" value="3 и более детей" v-model="picked_5">
        <label for="5three">3 и более детей</label>
        <br />
        <input type="radio" id="5four" value="Нет детей" v-model="picked_5">
        <label for="5four">Нет детей</label>
        <br />
      </div>
    </div>
    <div class="question">
      <p>6.Какое у Вас образование?</p>
      <h5>(пожалуйста, укажите один вариант ответа)</h5>
      <div class="radio-answers">
        <input type="radio" id="6one" value="Основное общее образование" v-model="picked_6">
        <label for="6one">Основное общее образование</label>
        <br />
        <input type="radio" id="6two" value="Среднее общее образование" v-model="picked_6">
        <label for="6two">Среднее общее образование</label>
        <br />
        <input type="radio" id="6three" value="Среднее профессиональное образование" v-model="picked_6">
        <label for="6three">Среднее профессиональное образование</label>
        <br />
        <input type="radio" id="6four" value="Высшее образование - бакалавриат" v-model="picked_6">
        <label for="6four">Высшее образование - бакалавриат</label>
        <br />
        <input type="radio" id="6five" value="Высшее образование - специалитет, магистратура" v-model="picked_6">
        <label for="6five">Высшее образование - специалитет, магистратура</label>
        <br />
        <input type="radio" id="6six" value="Высшее образование - подготовка кадров высшей квалификации" v-model="picked_6">
        <label for="6six">Высшее образование - подготовка кадров высшей квалификации</label>
        <br />
        <input type="radio" id="6seven" value="Нет образования" v-model="picked_6">
        <label for="6seven">Нет образования</label>
        <br />
        <input type="radio" id="6eight" value="Иное" v-model="picked_6">
        <label for="6eight">Иное</label>
        <br />
      </div>
    </div>
    <div class="question">
      <p>7.Каков примерно среднемесячный доход в расчете на 1 члена Вашей семьи?</p>
      <h5>(пожалуйста, укажите один вариант ответа)</h5>
      <div class="radio-answers">
        <input type="radio" id="7one" value="до 10 тыс.руб." v-model="picked_7">
        <label for="7one">до 10 тыс.руб.</label>
        <br />
        <input type="radio" id="7two" value="от 10 до 20 тыс.руб." v-model="picked_7">
        <label for="7two">от 10 до 20 тыс.руб.</label>
        <br />
        <input type="radio" id="7three" value="от 20 до 30 тыс.руб." v-model="picked_7">
        <label for="7three">от 20 до 30 тыс.руб.</label>
        <br />
        <input type="radio" id="7four" value="от 30 до 40 тыс.руб." v-model="picked_7">
        <label for="7four">от 30 до 40 тыс.руб.</label>
        <br />
        <input type="radio" id="7five" value="от 40 до 50 тыс.руб." v-model="picked_7">
        <label for="7five">от 40 до 50 тыс.руб.</label>
        <br />
        <input type="radio" id="7six" value="более 50 тыс.руб." v-model="picked_7">
        <label for="7six">более 50 тыс.руб.</label>
        <br />
      </div>
    </div>
    <div class="question">
      <p>8.Выросли ли Ваши доходы в 2022 году по сравнению с прошлым годом?</p>
      <div class="radio-answers">
        <input type="radio" id="8one" value="Да" v-model="picked_8">
        <label for="8one">Да</label>
        <br />
        <input type="radio" id="8two" value="Нет" v-model="picked_8">
        <label for="8two">Нет</label>
        <br />
      </div>
    </div>
    <div class="question">
      <p>9.Выросли ли Ваши расходы в 2022 году по сравнению с прошлым годом?</p>
      <div class="radio-answers">
        <input type="radio" id="9one" value="Да" v-model="picked_9">
        <label for="9one">Да</label>
        <br />
        <input type="radio" id="9two" value="Нет" v-model="picked_9">
        <label for="9two">Нет</label>
        <br />
      </div>
    </div>
    <div class="question">
      <p>10.Какое из утверждений точнее всего описывает материальное положение Вашей семьи?</p>
      <h5>(пожалуйста, укажите один вариант ответа)</h5>
      <div class="radio-answers">
        <input type="radio" id="10one" value="Нам не всегда хватает денег даже на еду" v-model="picked_10">
        <label for="10one">Нам не всегда хватает денег даже на еду</label>
        <br />
        <input type="radio" id="10two" value="У нас достаточно денег на еду, но купить одежду для нас – серьезная проблема" v-model="picked_10">
        <label for="10two">У нас достаточно денег на еду, но купить одежду для нас – серьезная проблема</label>
        <br />
        <input type="radio" id="10three" value="Нам хватает на еду и одежду, но для покупки холодильника или стиральной машины, или другой бытовой техники, нам пришлось бы копить или брать в долг (кредит)" v-model="picked_10">
        <label for="10three">Нам хватает на еду и одежду, но для покупки холодильника или стиральной машины, или другой бытовой техники, нам пришлось бы копить или брать в долг (кредит)</label>
        <br />
        <input type="radio" id="10four" value="В случае необходимости мы можем легко купить основную бытовую технику и без привлечения заемных средств (кредита), но автомобиль для нас – непозволительная роскошь " v-model="picked_10">
        <label for="10four">В случае необходимости мы можем легко купить основную бытовую технику и без привлечения заемных средств (кредита), но автомобиль для нас – непозволительная роскошь </label>
        <br />
        <input type="radio" id="10five" value="Мы можем позволить себе очень многое, но в ближайшем будущем не смогли бы самостоятельно накопить даже на однокомнатную квартиру" v-model="picked_10">
        <label for="10five">Мы можем позволить себе очень многое, но в ближайшем будущем не смогли бы самостоятельно накопить даже на однокомнатную квартиру</label>
        <br />
        <input type="radio" id="10six" value="У нас нет никаких финансовых затруднений. При необходимости мы сможем купить квартиру или дом" v-model="picked_10">
        <label for="10six">У нас нет никаких финансовых затруднений. При необходимости мы сможем купить квартиру или дом</label>
        <br />
      </div>
    </div>
    <div class="question">
      <p>11.Вы трудоустроены официально?</p>
      <div class="radio-answers">
        <input type="radio" id="11one" value="Да" v-model="picked_11">
        <label for="11one">Да</label>
        <br />
        <input type="radio" id="11two" value="Нет" v-model="picked_11">
        <label for="11two">Нет</label>
        <br />
      </div>
    </div>
    <div class="question">
      <p>12.Получаете ли Вы "серую" заработную плату?</p>
      <div class="radio-answers">
        <input type="radio" id="12one" value="Да" v-model="picked_12">
        <label for="12one">Да</label>
        <br />
        <input type="radio" id="12two" value="Нет" v-model="picked_12">
        <label for="12two">Нет</label>
        <br />
        <input type="radio" id="12three" value="Получаю официальную и 'серую' заработную плату" v-model="picked_12">
        <label for="12three">Получаю официальную и "серую" заработную плату</label>
        <br />
      </div>
    </div>
    <div class="question">
      <p>13.Знаете ли Вы о мерах социальной поддержки малообеспеченных граждан в Липецкой области?</p>
      <div class="radio-answers">
        <input type="radio" id="13one" value="Да" v-model="picked_13">
        <label for="13one">Да</label>
        <br />
        <input type="radio" id="13two" value="Нет" v-model="picked_13">
        <label for="13two">Нет</label>
        <br />
      </div>
    </div>
    <div class="question">
      <p>14.Знаете ли Вы о мерах социальной поддержки семей с детьми в Липецкой области?</p>
      <div class="radio-answers">
        <input type="radio" id="14one" value="Да" v-model="picked_14">
        <label for="14one">Да</label>
        <br />
        <input type="radio" id="14two" value="Нет" v-model="picked_14">
        <label for="14two">Нет</label>
        <br />
      </div>
    </div>
    <div class="question">
      <p>15.Пользуетесь ли Вы (члены Вашей семьи) какой-либо мерой социальной поддержки?</p>
      <div class="radio-answers">
        <input type="radio" id="15one" value="Да" v-model="picked_15">
        <label for="15one">Да</label>
        <br />
        <input type="radio" id="15two" value="Нет" v-model="picked_15">
        <label for="15two">Нет</label>
        <br />
      </div>
    </div>
    <div class="question">
      <p>16.Планируете ли Вы (члены Вашей семьи) в ближайшее время обратиться за социальной поддержкой?</p>
      <div class="radio-answers">
        <input type="radio" id="16one" value="Да" v-model="picked_16">
        <label for="16one">Да</label>
        <br />
        <input type="radio" id="16two" value="Нет" v-model="picked_16">
        <label for="16two">Нет</label>
        <br />
      </div>
    </div>
    <div class="question">
      <p>17.Знаете ли Вы о реализации направления социальной поддержки – социальный контракт?</p>
      <div class="radio-answers">
        <input type="radio" id="17one" value="Да" v-model="picked_17">
        <label for="17one">Да</label>
        <br />
        <input type="radio" id="17two" value="Нет" v-model="picked_17">
        <label for="17two">Нет</label>
        <br />
      </div>
    </div>
    <br />
    <button @click="checkForms">Проверка</button>
  </div>
</template>

<script>
export default {
  name: "first_block",
  components: {},
  data() {
    return {
        selected_1: '',
        selected_3: '',
        picked_2: '',
        picked_4: '',
        picked_5: '',
        picked_6: '',
        picked_7: '',
        picked_8: '',
        picked_9: '',
        picked_10: '',
        picked_11: '',
        picked_12: '',
        picked_13: '',
        picked_14: '',
        picked_15: '',
        picked_16: '',
        picked_17: ''
    }
  },
  methods: {
    checkForms: function () {
      if (this.selected_1,
          this.selected_3,
          this.picked_2,
          this.picked_4,
          this.picked_5,
          this.picked_6,
          this.picked_7,
          this.picked_8,
          this.picked_9,
          this.picked_10,
          this.picked_11,
          this.picked_12,
          this.picked_13,
          this.picked_14,
          this.picked_15,
          this.picked_16,
          this.picked_17) {
        return true;
      }
    },
  },
  props: {

  }
}
</script>

<style lang="scss" scoped>

p {
  font-family: sans-serif;
  font-size: 1.5rem;
  border: 1px solid #eee;
  border-radius: 2px;
  padding-bottom: 0;
  margin: 0;
}

h5 {
  margin: 0;
  font-weight: lighter;
  font-style: italic;
}

.question {
  input{
    &:hover{
      cursor: pointer;
    }
  }
}

select {
  height: 2rem;
  width: 20rem;
  font-size: 1rem;
  font-family: sans-serif;
  border: 1px solid;
  border-radius: 2px;
  margin-bottom: 1em;
}

.content {
  width: 73rem;
  margin: 0 auto;
}

.radio-answers {
  font-family: sans-serif;
  font-size: 1.3rem;
  border: 1px solid #eee;
  border-radius: 2px;
  margin-top: 1em;
  margin-bottom: 1em;
  user-select: none;
  overflow-x: auto;
}


</style>