<template>
  <div id="app">
    <first_block v-if="pageNumber === 0" />
    <second_block v-if="pageNumber === 1" />
    <third_block v-if="pageNumber === 2" />
    <end_screen v-if="pageNumber === 3" />
    <button @click="prevPage" v-if="pageNumber !== 0 & pageNumber !== 3">Назад</button>
    <button @click="nextPage" v-if="pageNumber !== 2 & pageNumber !== 3">Далее</button>
    <button @click="nextPage" v-if="pageNumber === 2">Отправить</button>
  </div>
</template>

<script>
import first_block from "@/components/first_block.vue";
import second_block from "@/components/second_block.vue";
import third_block from './components/third_block.vue'
import end_screen from "@/components/end_screen.vue";

export default {
  el: '#app',
  data() {
    return {
      pageNumber: 0
    };
  },
  props: {

  },
  methods: {
    nextPage(){
      this.pageNumber++;
    },
    prevPage(){
      this.pageNumber--;
    }
  },
  components: {
    first_block,
    second_block,
    third_block,
    end_screen
  },
};
</script>

<style lang="scss">

@media screen and (min-width: 200px) and (max-width: 1920px){
}


</style>
